button {
    font-size: 1.5rem;
    color: white;
    padding: 5px 10px;
    border: 2px solid black;
    background-color: #2178e9;
    border-radius: 10px;
    cursor: pointer;
}


.container {
    display: flex;
    justify-content: space-around;
}

