body {
    font-family: sans-serif;
    font-size: 1.5rem;
}

button {
    font-size: 1.5rem;
    color: white;
    padding: 5px 10px;
    border: 2px solid black;
    background-color: #2178e9;
    border-radius: 10px;
    cursor: pointer;
}

.score {
    display: flex;
}


.player-score,
.score-currently,
.computer-score {
    text-align: center;
    flex:1;
    justify-content: center;
}

.score-currently {
    flex: 1 0 150px;
}

.final-score {
    text-align: center;
    margin-bottom: 10px;
}

.container-wrap {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.container-button {
    display: flex;
    justify-content: center;
    gap: 3rem;
    margin-bottom: 10px;
}

.log {
    min-width: 300px;
    min-height: 100px;
    border: 5px solid black;
    text-align: center;
}

#play-again {
    display: none;
}

